.signup-page{
    background-color: rgb(69, 72, 72);
    color: rgb(172, 172, 172);
}
.signup-input{
    background-color: rgb(69, 72, 72);
    color: rgb(172, 172, 172);
    margin-right: 150px;
    margin-top: 50px;
}
.signup-button{
    background-color: rgb(1, 231, 231);
    color: rgb(255, 255, 255);
    padding: 10px 40px;
    border: 0px solid rgb(1, 231, 231);
    cursor: pointer;
    font-size: 15px;
    border-radius: 20px;
    margin-right: 220px;
}