body {
  text-align: center;
  background-color: rgb(41, 84, 84);
  margin: 0;
}
.App {
  background-color: rgb(69, 72, 72);
  border: 1px solid gray;
  margin: 40px 280px;
  padding: 40px 20px;
  color: rgb(255, 255, 255);
}
